<div id="<%= dom_id venue %>">
  <p>
    <strong>Capacity:</strong>
    <%= venue.capacity %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= venue.location_id %>
  </p>

  <p>
    <strong>Private:</strong>
    <%= venue.private %>
  </p>

</div>
