<div class="container section_contents" id="new_game_container">
    <div class="container search_results">
        <% @search_results_games.each_with_index do |game, i| %>
        <div class="game_card card">
            <div class="game_image">
                <%= image_tag game.game.image %>
            </div>
            <div class="container game_name">
               <h5> <%= "#{game.name} (#{game.year_published})" %></h5>
            </div>
            <div class="game_year">
            <%= button_to "Add Game", :class => "strip_link square_button" %>
            </div>
        </div>
        <% end %>
    </div>
</div>

 