<div class="container section_contents" id="new_game_container">
    <div class="container search_results">
        <% @search_results_games.each_with_index do |game, i| %>
        <div class="game_card card">
            <div class="game_image">
            <% puts game.name; puts game.id %>
                <%= image_tag game.game.image %>
            </div>
            <div class="container game_name">
               <h4> <%= game.name %></h4>
            </div>
            <div class="game_year">
            <% puts game.name; puts game.id; puts game.type %>
                <%= game.game.year_published %>
            </div>
        </div>
        <% end %>
    </div>
</div>

 