<%= turbo_frame_tag :content do %>

<div id="games">
  <% @games.each do |game| %>
    <%= render game %>
    <p>
      <%= link_to "Show this game", game %>
    </p>
  <% end %>
</div>

<%= button_to "Add game", add_games_path, :class => "strip_link square_button", :method => :get %>
</div>

<% end %>
