<p style="color: green"><%= notice %></p>
<div class="section_contents container" id="games_content">
<h2 id="games_header">My Games</h2>

<div id="games">
  <% @games.each do |game| %>
    <%= render game %>
    <p>
      <%= link_to "Show this game", game %>
    </p>
  <% end %>
</div>

<%= button_to "Add game", new_game_path, :class => "strip_link square_button", :method => :get %>
</div>
