<% @date = date %>

<div class="window_header">
    <div class="icon container cal_prev">chevron_left</div>
    <div class="container calendar_title">
        <h3 class ="item_header" id="calendar_header">
            <%= Date::MONTHNAMES[@date.month] %>
        </h3>
        <h4 class = "item_header" id="calendar_year">
            <%= @date.year %>
        </h4>
    </div>
    <div class="icon container cal_next">chevron_right</div>

</div>
<div class="cal_days">
<div class="day_header">Su</div>
<div class="day_header">Mo</div>
<div class="day_header">Tu</div>
<div class="day_header">We</div>
<div class="day_header">Th</div>
<div class="day_header">Fr</div>
<div class="day_header">Sa</div>

<% (0..(@date.beginning_of_month.wday-1)).each do |nonDay| %>
<div class="non_day">
</div>
<% end %>
<% (@date.beginning_of_month..@date.end_of_month).each do | day | %>
<div class = "cal_day">
    <%= day.day %>
</div>
<% end %>
<% (@date.end_of_month.wday..7).each do | nonDay | %>
<div class="non_day">
</div>
<% end %>
</div>

