<div id="<%= dom_id wall_message %>">
  <p>
    <strong>Group:</strong>
    <%= wall_message.group_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= wall_message.user_id %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= wall_message.content %>
  </p>

</div>
