<h1>Editing event setting</h1>

<%= render "form", event_setting: @event_setting %>

<br>

<div>
  <%= link_to "Show this event setting", @event_setting %> |
  <%= link_to "Back to event settings", event_settings_path %>
</div>
