<%= turbo_frame_tag "content" %>
 <%= render 'pages/notices' %>

  <h1>New event setting</h1>

  <%= render "form", event_setting: @event_setting %>

  <br>

  <div>
    <%= link_to "Back to event settings", event_settings_path %>
  </div>
<% end %>
