/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* Colour variables */

 :root {
    --main: #FFFFFF;
    --mainDark: #7d7d7d;
    --mainLight: #FFFFFF;
    --secondary: #25283D;
    --secondaryhighlight: #25283D;
    --tertiary: #EFEFEF;
    --highlight: #FF703C;
    --highlightDark: #DD501A;
    --highlightLight: #FFE1D6;
    --textMain: #000000;
    --textSecondary: #FFFFFF;
    --textHighlight: #FFFFFF;
    --textTertiary: #000000;
  }

  *{
    box-sizing: border-box;
    /* border: solid 2px red; */
  }

 
 /* Elements*/ 

 body{
     display:flex;
     min-height: 100vh;
     width: 100%;
     flex-direction: column;
     background-color: var(--main);
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;
     justify-content: space-between;
     align-items: center;
     font-weight: 300;
 }

 p{
  margin: 0;
  font-size: 14px;
 }

 h1, h2, h3, h4, h5, h6{
  margin: 0;
  color: var(--secondaryhighlight);
  user-select: none;
  font-weight: 400;
 }


 button{
  background-color: var(--highlight);
  color: var(--textHighlight);
 }

  form input[type=email], form input[type=text], form input[type=password]{
  outline:none;
  height: 2rem;
  border: solid var(--secondary) 2px;
  max-width: 100%;
  background-color: var(--main);
  margin: 3px 0;
  width: 300px;
 }

 form input[type=email]:focus, form input[type=text]:focus, form input[type=password]:focus{
  border: solid var(--highlight) 2px;
 }

 textarea{
  outline:none;
  height: 3rem;
  border: solid var(--secondary) 2px;
  max-width: 100%;
  background-color: var(--main);
  margin: 3px 0;
  width: 300px;
 }

textarea:focus{
  border: solid var(--highlight) 2px;
 }

 form input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
  user-select: none;
 }

 select{
  height: 2rem;
  border: var(--secondary) solid 2px;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background-color: var(--main);
 }

 form{
  display: flex;
  flex-direction: column;
  align-items: center;
 }
 
 label{
  margin-bottom: 2px;
  user-select: none;
 }

 turbo-frame{
  width: 100% ;
  height: 100%;
  padding: 0;
  margin: 0;
 }
 
 
 /* Generic Classes  */

  .strip_link{
  text-decoration: none;
  display: inherit;
  color: inherit;
 }

 .colour{
  color: var(--secondaryhighlight);
  font-style: normal;
 }

 .window, .card, .container, #groups{
    padding:0;
    background-color: inherit;
    display: flex;
    user-select: none;
    margin: 0;
    width: 100%;
    align-items: center;
 }

 
 .table_container{
  display: grid;
  justify-content: center;
  gap: 0;
  border-bottom: var(--secondary) 3px solid;
  padding-bottom: 20px;
  margin-bottom: 90px;
  max-width: 100%;
  width: 1050px;
  
 }

 .three_col{
  grid-template-columns: 6fr 6fr 1fr;
 }

 
 .table_header{
  background-color: var(--secondary);
  color: var(--main);
 }

 .table_data{
  padding: 8px 3px;
 }

 .table_cell{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 3px;
  height: 100%;
 }

 .even_row{
  background-color: var(--highlightLight);
 }



 .icon{
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  flex: 0;
  padding:0;
  max-width: 100%;
}

.modal{
  display: none;
  position: fixed;
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  max-width: 80%;
  max-height: 60%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  align-items: center;
  justify-content: center;
  min-width:100%;
  min-height: 100%;
  flex-direction: column;
}

.modal_card_horizontal{
  padding: 20px;
  background-color: var(--main);
  align-items: flex-start;
  max-width: 95%;
  max-height: 95%;
}

.game_rate_content{
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  padding-top: 0;

}
.game_rate_content h3{
  padding-bottom: 10px;
}

#rating_card_form{
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 100%;
  max-width: 600px;
}

.panel_form_section{
  flex-direction: row;
  align-items: center;
  gap: 5px;
  justify-content: flex-start;
}

.panel_form_section label, .panel_form_section .check_wrapper{
  margin: 0;
}

 /* Specific Classes */

 

 .close_button{
  background-color: var(--highlight);
  color: var(--textHighlight);
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  margin-top: 20px;

 }
 

 .group_card_loc_container .group_card_location_text{
  color: var(--mainDark);
  font-size: 12px;
  align-items: left;
 }

 .group_card_loc{
  flex: 0;
 }

 .bookend{
   background-color: var(--secondary);
   color: var(--textSecondary);
   display: flex;
   flex: 0;
   min-height: 20px;
   align-items: center;
   width: 100%;
   width: 100%;
   padding: 0;
   margin: 0;
   user-select: none;
 }

 .tab_bar{
  display: flex;
  width: 80vw;
  padding: 90px 0 40px 0;
  box-sizing: border-box;
  gap: 30px;
 }

 .tab{
   border-bottom: var(--mainDark) solid 3px;
   flex: 1;
   padding: 10px;
   display: flex;
   justify-content: center;
   user-select: none;
   min-width: 0;
 }
 .tab:active{
   border-bottom: var(--highlight) solid 3px;
 }


 .section{
  background-color: var(--main);
  color: var(--textMain);
  border: var(--tertiary) 2px solid;
  border-top: none;
  flex-direction: column;
  width: 100%;
 }

 .section_header{
  background-color: var(--tertiary);
  color: var(--textTertiary);
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .section_contents{
  min-height: 250px;
 }

 .notices{
  padding: 0 6%;
  color: var(--highlight);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

.square_button{
  padding: 10px 20px;
  margin: 10px 0;
  height: 48px;
  border: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: var(--highlight);
  color: var(--textHighlight);
  border-radius: 3px;

 }

 .square_button:hover, .new_button:hover{
  background-color: var(--highlightDark);
}

.form_section{
  display: flex;
  flex-direction:column;
  padding-top: 5px;
  user-select: none;
  width:100%;
  max-width: 80vw;

}

#rate_check_section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.check_wrapper{
  display: flex;
  align-items: center;
  margin-top: 6px;
  user-select: none;
}

.check_wrapper label{
  --size: 35px;
  cursor: pointer;
  width: var(--size);
  height: calc(var(--size) / 2);
  background: var(--mainDark);
  display: block;
  border-radius: 100px;
  position: relative;
}

.check_wrapper label:after {
content: '';
position: absolute;
top: 9%;
left: 5%;
width: calc(50% - 8%);
height: calc(100% - 16%);
background: var(--main);
border-radius: 90px;
transition: 0.3s;
}

.check_wrapper input:checked + label {
background: var(--highlight);
}

.check_wrapper input:checked + label:after {
left: calc(100% - 2.5%);
transform: translateX(-100%);
}

.check_wrapper label:active:after {
width: 55%;
}

.item_card{
  width: 150px;
  flex-direction: column;
  user-select: none;
  align-items: center;
  background-color: var(--main);
  justify-content: space-between;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.group_card{
  height: 275px;
  
}

.member_number_container, .group_count_header {
  display: flex;
  justify-content: center;
}

.game_card{
  height: 250px;
}

.input_container{
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  width:100%;
  max-width: 80vw;
 }

 .explanation{
  margin: 5px 0;
  font-weight: 300px;
  max-width: 300px;
  
 }

 .form_section i{
  max-width: 300px;
 }

 .form_file_field{
  align-self: flex-start;
 }

 .form_group{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }

 .image_150{
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  max-height: 150px;
  flex: 0;
 }

 .image_75{
  
  min-height: 75px;
  max-height: 75px;
  width: auto;
  flex: 0;
 }


 .image_300{
  max-width: 300px;
  min-width: 300px;
  max-height: 300px;
  min-height: 300px;
  flex: 0;
  box-sizing: border-box;
}

 .group_card_details{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 5px;

 }

 .flat_button_group{
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  box-sizing: border-box;
  max-width: 100%;
 }

 .group_display{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}


.login_window{
  background-color: var(--main);
  color: var(--text);
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.window_header{
  background-color: var(--highlight);
  display: flex;
  justify-content: space-evenly;
  margin: -11px -11px 0 -11px;
  padding: 11px;
}

.calendar_title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cal_prev, .cal_next{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--textHighlight);
}

.show_group_container{
  display: flex;
  flex-wrap:wrap;
  max-width: 930px;
}

.week_days{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.cal_days{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.cal_day, .non_day, .day_header{
  min-height: 35px;
  max-height: 35px;
  min-width: 35px;
  max-width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user_card{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 225px;
  min-width: 225px;
}

.user_name{
  margin: 5px;
}

.user_pp{
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
}

.page_title{
  margin: 0 0 20px 0;
}

.filter_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--main);
  margin-bottom: 20px;
  width: 100%;
}

.filter_box_header{
  min-width: 100%;
  background-color: var(--main);
  color: var(--textMain);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
}

.filter_box_header .icon{
  position: relative;
  top: 3px; 
  z-index: 1;
}

.filter_box_header h4{
  color: var(--textMain);
  display: inline-block;
}

.calendar_window{
  padding: 10px;
  border: 2px solid var(--highlight);
  display: flex;
  flex-direction: column;
  flex: 0;
  max-width: 300px;
  min-width: 300px;
  max-height: 300px;
  min-height: 300px;
  flex: 0;
  box-sizing: border-box;
  margin: 5px;
  user-select: none;
}

.meep_icon{
  height: 1.3rem;
  width: auto;
  padding: 2px;
}

.search_results{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 100%;
}

.search_input{
  padding: 10px;
}

.search_bar{
  display: flex;
}

.game_name{
  display: block;
  text-align: center;
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  max-width: 150px;
  margin: 10px;
  border-bottom: solid 2px var(--highlight)
}



.game_year{
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
}

.my_all_groups_btn {
  margin: 0;
  height: 2rem;
  padding: 20px 16px;
}

.table_link{
  padding: 0;
  height: 100%;
}

.new_button{
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: var(--highlight);
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 0;
  padding: 10px;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  color: var(--textHighlight);  
  position: fixed;
  bottom: 3.5rem;
  right: 3rem;
  cursor: pointer;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.1), 0 1px 2px -1px rgba(0,0,0,0.1);
}

.card_container_header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 10px 0;
}

.filter_item{
  background-color: var(--tertiary);
  color: var(--textMain);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5px 0;
  padding: 2px 20px 10px 10px;
  border-radius: 3px;
  font-size: 12px;
  color: var(--mainDark);
  max-width: 100%;
}

.filter_item_content select{
  margin: 5px 0;
}


.filter_item_content{
  display: flex;
  align-items: center;
  max-width: 100%;
}


.filter_item_icon{
  flex: 0;

}

.filter_item_icon i{
  padding: 10px;
}
.filter_item_title{
  margin-bottom: -2px;
  padding: 3px 0 0 44px;
}



 /* IDs */

 #header{
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
   justify-content: space-between;
   z-index: 2;
 }

 #logo{
  flex: auto;
  padding: 20px 0 20px 20px;
  user-select: none;
  font-family: 'Yeseva One', cursive;
  font-weight: 400;
  color: var(--textSecondary)
 }

 #pp_icon{
  max-width: 4.5rem;
  min-width: 4.5rem;
  height: auto;
  width: auto;
  padding: 20px;
 }

 #content{
  display: flex;
   padding: 0 6%;
   flex: 1;
   flex-direction: column;
   align-items: center;
   max-width: 100%;
   width: 100%;
 }

 #footer{
   justify-content: center;
   padding: 10px 0;
 }

#delete_group_icon, #edit_group_icon{
  box-sizing: content-box;
  padding-right: 10px;
 }

 #new_group_icon{
  text-align: center;
 }

 #private_group_form_section, #remember_me_form_section{
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }

 #games_content{
  display: flex;
  flex-wrap: none;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 20px;
 }

 #user_header{
  flex: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 10px 0 5px;
 }

 #user_header h1{
  color: var(--textSecondary);
  margin-left: -5px;
 }

 #show_group_page{
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 10px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
 }

 #group_container{
  padding: 15px;
  border: 2px solid var(--highlight);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 0;
  max-width: 300px;
  min-width: 300px;
  max-height: 300px;
  min-height: 300px;
  flex: 0;
  box-sizing: border-box;
  user-select: none;
}

#group_container h2{
  margin:0;
  padding: 6px;
}

#group_details{
  display: flex;
  flex: 1;
  user-select: none;
}

#member_title{
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

#group_item_header, #calendar_header, #calendar_year{
  background-color: var(--highlight);
  color: var(--textHighlight);
  align-self: center;
}


#member_expand{
  vertical-align: text-bottom;
}

#member_list{
  display: flex;
  margin: 10px;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 10px;
}

#delete_profile_button{
  background-color: black;
}

#group_index, #games_index{
  flex-direction: column;
  width:100%;
  align-items: center;
  
}

#form_section_loc_filter{
  display: inline-flex;
  flex-direction: row;
}

#groups_within_filter{
  display: flex;
  flex-flow: row wrap;
  align-items: center;

}

#groups, #games{
  justify-content: center;
  display: flex;
}

#games_search{
  width: 1140px;
}

.games_year_header, .game_year_container{
  justify-content: center;
}

.games_panel{
  display: none;
  background-color: var(--tertiary);
  grid-column: 1 / 4;
  font-size: 12px;
  border-bottom: var(--secondary) 2px solid;
}



#loc_filter, #group_search_box{
  width:225px;
  flex: auto;
  max-width: 225px;
}

.filter_content{
  justify-content: center;
}

#distance, #loc_filter{
  margin: 3px 0;
}

#distance{
  width: 80px;
}

#filter_form_groups, #filter_form_games{
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
  padding-top: 10px;
}


#group_search_container{
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

#group_search_btn{
  margin: 0;
}

#private_label{
  margin-bottom: -4px;
}

#modal{
  display: flex;
  align-items: center;
  justify-content: center;
}

.game_image_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


 /* Conditional */

 @media only screen and (max-width: 600px) {
  #modal_game_image{
    max-width: 175px;
    max-height: 175px;
    min-width: 175px;
    min-height: 175px;
  }
}
